.card-content {
    padding: 5px 0 0 20px !important;
    display: flex;
}

.list-block {
    width: 100%;
    padding: 0;
}

.list-item {
    padding: 0 0 0 10px !important;
}

.block {
    border: 1px solid #FDEEDC;
    margin-top: 10px;
    max-width: 80%;
    margin: 0 auto;
}