.wallet-wrap {
    min-height: 140px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.wallet-header {
    font-size: calc(10px + 2vmin) !important;
    background-color: #8bb2ff;
    width: 100%;
    min-height: 36px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.wallet-content {
    width: 100%;
    min-height: 100px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.wallet-item {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    font-weight: bold;
}

.detail {
    font-size: 18px;
}

.create-wallet-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
