.transaction-action {
    display: flex;
    flex-direction: column;
}

.send-coin {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
}

.form-group {
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.disappear {
    display: none;
}