.transaction-action {
    display: flex;
    flex-direction: column;
}

.send-coin {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
}

.form-group {
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.disappear {
    display: none;
}

.valid{
	font-size: 14px;
	color: red;
	font-style: italic;
	display: none;
}

.invalid {
    display: block;
}

.item-wallet{
	border: solid 1px #83cdff; 
	padding: 4px;
	border-radius: 2px;
	cursor: pointer;
	transition: linear 0.5s;
    background-color: #9e9e9e;
}

.item-wallet span {
	font-size: 13px;
	font-weight: 500;
	color: #000000;
	margin-left: 5px;
}

.item-wallet:hover{
	background-color: #8bb2ff;
}